<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
</head>
<h1>
  Welcome to the Sports Ranker
</h1>
<body>
  Here you will find ranking data on all kinds of sports. Lets start off with some NFL teams.
</body>


    <table>
        <tr>
         <th>Ranking</th>
         <th>Rating</th>
         <th>Team</th>
         <th>Projected win</th>
         <th>Projected loss</th>
         <th>Playoff</th>
         <th>SB_win</th>
        <tr>
        {% for row in data %}
          <tr>
            <td>{{ row["rank"] }}</td>
            <td>{{ row["rating"] }}</td>
            <td>{{ row["team"] }}</td> 
            <td>{{ row["proj_win"] }}</td> 
            <td>{{ row["proj_loss"] }}</td>
            <td>{{ row["play_off"] }}</td> 
            <td>{{ row["sb_win"] }}</td> 
          </tr>
         {% endfor %}

      <table>
</html>
 